@page "/"

<PageTitle>Dredge Live</PageTitle>

<h1>Dredge Live</h1>

Dredge Live is an online version of the <a href="https://github.com/mthalman/dredge">Dredge tool</a>, letting you query container registries directly from your browser.
<br />
<br />

<h2>Features</h2>

<ul>
    <li><a href="image">Query Image</a>: Retrieves detailed container image information such as architecture, OS, and more.</li>
    <li><a href="compare">Compare Images</a>: Compare the layers of two images.</li>
    <li><a href="repos">Query Repos</a>: Get the list repositories in a registry.</li>
    <li><a href="tags">Query Tags</a>: Get the list of tags in a repository.</li>
</ul>
